body {
 background-image: url('https://imgix.bustle.com/uploads/image/2021/10/19/05a700fd-5040-47dd-915d-cb3018a657e6-hunter_exam_arc.jpeg?w=2000&h=1090&fit=crop&crop=focalpoint&auto=format%2Ccompress&fp-x=0.504&fp-y=0.3852&blend=000000&blendAlpha=45&blendMode=normal');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  width: 50%;
  border: 10px solid #02f92f;
  padding: 30px;
  font-size: 300%;
  font-family: fantasy;
  color: #02f92f;
  box-shadow: 30px 15px 30px 20px rgba(0, 0, 0, 0.732);
}

.dropbtn {
  background-color: #55db34;
  box-shadow: 0px 8px 16px 0px rgba(36, 211, 9, 0.732);
  color: rgb(255, 255, 255);
  padding: 16px;
  font-size: 16px;
  font-family: fantasy;
  cursor: pointer;
  margin: auto;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3029b9;
  box-shadow: 0px 8px 16px 0px #3029b9;
}

.dropdown {
  margin: auto;
  text-align: center;
  position: center;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1ad;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(36, 211, 9, 0.732);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-family: fantasy;
  display: block;
}

.anime_info_container {
    padding: 2rem;
    margin: auto;
    width: auto;
    height: auto;
    position: absolute; left: 1000px; top: 300px;
    background: #f1f1f1ad;
    opacity: .8;
}

.anime_names {
  font-family: fantasy;
  text-transform: uppercase;
}

.dropdown-content a:hover {background-color: rgb(23, 214, 48)}

.show {display:block;}

/* .container {
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  width: 50%;
} */


/* background for project sourced from https://www.inverse.com/entertainment/hunter-x-hunter*/